/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #45a049;
}

h1 {
    color: #333;
}

#main-content {
    padding: 20px;
}

.contenido-activo {
    display: block;
}

#trabajos {
    display: none;
}

/* Personaliza más tu diseño aquí */
